@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family:"Poppins", sans-serif;
    background-color: #e9ed9a;
    margin: 10px;
    padding: 20px;
    line-height: normal;
    text-align: initial;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  h1 {
    font-size: 32px;
    color: #e217db;
    text-align: center;
    padding: 10px;
    margin: 20px;
    line-height: normal;
  }

  h2 {
    font-size: 24px;
    color: #43d41b;
    text-align: left;
    padding: 10px;
    margin: 15px;
    line-height: normal;
  }

  .blog-detail {
    border: 5px solid #ffffff;
    padding: 25px;
    margin: 40px;
    background-color: #fccff4;
    flex:3;
    overflow: auto;
  }

  .blog-list {
    flex:content;
    display: flex;
    width:fit-content;
    flex-wrap: wrap;
    flex: 1;
  }

  p {
    font-size: 20px;
    margin: 10px;
    line-height: 50px;
  }

  nav ul {
    display: flex;
    justify-content:space-evenly;
    list-style:none;
    padding: 10px;
    margin: 10px;
    background-color:rgb(99, 51, 142);
  }

  nav ul li a {
    text-decoration:none;
    color:antiquewhite;
    padding: 10px;
  }
  
  nav ul li a:hover{
    color:aqua;
    cursor: pointer;
    text-transform: capitalize;
  }

  .nav-list{
    box-sizing:border-box;
    display: flex;
    align-items:center;
  }

  .nav-list h1 {
    text-align:left;
  }

  .nav-list nav ul {
    text-align:justify;
    list-style:none;
    display: list-item;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    section {
      flex-direction: column;
    }
  }