
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e9ed9a;
    margin: 10px;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    color: #e217db;
    text-align: center;
    padding: 10px;
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #43d41b;
    text-align: left;
    padding: 10px;
    margin: 15px;
  }
  
  .blog-detail {
    border: 5px solid #ffffff;
    padding: 25px;
    margin: 40px;
    background-color: #fccff4;
  }